<app-header />
<main>
  <h1>About</h1>
  <h2>What I've learned</h2>
  <p>
    One of the key concepts I learned was how to implement two-way data binding
    in Angular. This is achieved using the [(ngModel)] syntax, which combines
    property binding and event binding in a single expression. It allows form
    inputs to stay in sync with component properties automatically. I used this
    technique throughout my template-driven forms to connect form fields
    directly to the component class.
  </p>
  <p>
    I also learned how to attach event listeners directly in the HTML template
    using Angular's event binding syntax, allowing me to call class methods and
    manipulate input values in response to user interactions.
  </p>
  <p class="bold">Beyond that, I picked up some additional fundamentals by:</p>
  <ul>
    <li>Reading the materials provided by the teachers (i.e you).</li>
    <li>Skimming through the Angular docs.</li>
    <li>Experimenting with their official tutorials.</li>
  </ul>
  <p>
    It helped reinforce the concepts I was applying and gave me a better
    understanding of how Angular works overall.
  </p>
</main>
