@use "../abstract/variable" as v;

body {
  color: v.$light;
  background-color: v.$dark;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a,
button {
  color: v.$light;
  text-decoration: none;
  &:hover {
    color: v.$dark;
    background-color: v.$light;
  }
}

header {
  nav {
    border-top: dashed 0.1rem v.$line-color;
    border-bottom: dashed 0.1rem v.$line-color;
  }
}

form {
  input,
  textarea {
    background-color: v.$dark;
    color: v.$light;
    border: solid 0.1rem v.$line-color;
  }
  button[type="submit"] {
    background: none;
    border: none;
    color: v.$light;
    cursor: pointer;
    &:hover {
      background-color: v.$light;
      color: v.$dark;
    }
    &.loading {
      cursor: default;
      &:hover {
        background: inherit;
        border: inherit;
        color: inherit;
      }
    }
  }
}
